@{
    ViewData["Title"] = "Index";
}
<style>
    #container {
        width: 500px;
        height: 300px;
        margin-top:20px;
    } 
</style>
<div id="container" class="center-block"></div>

@section Scripts{
    @* 高德地图Api *@
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.10&key=c88f30cbcdbc1d5ec91f925214158f89"></script>
    <script type="text/javascript">
        $(function () {
            var map = new AMap.Map('container');
        });
    </script>
}


