@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
    ViewData["Title"] = "基础知识(一)";
}

<h2>基础知识(一)</h2>
<a asp-action="GetStart">初步使用</a><br />
<a asp-action="Example">简单案例</a><br />
<hr />
<h2>基础知识(二)</h2>
<a asp-action="Text">控制文本与文本展示</a><br />
<a asp-action="Flow">流程控制</a><br />
<hr />
<h2>基础知识(三)</h2>
<a asp-action="TemplateBind">模板绑定</a><br />
<hr />
<h2>基础知识(四)</h2>
<a asp-action="ManualMappingUnitViewModelList">knockout实现前后端交互(手动绑定)</a><br />
<a asp-action="AutoMappingUnitViewModel">knockout实现前后端交互(自动绑定)</a><br />
<hr />
<h2>基础知识(五)</h2>
<a asp-action="CustomBinding">自定义绑定</a><br />
