@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">分页示例</h1>
    <p>基于Bootstrap Paginator和Knockout.JS</p>
    <p><a href="@Url.Action("SamplePaging")">简单分页</a></p>
    <p><a href="@Url.Action("SingleQueryPaging")">单条件查询分页</a></p>
    <p><a href="@Url.Action("MultipleQueryPaging")">多条件查询简单分页</a></p>
</div>


