@{
    ViewBag.Title = "库存报表";
}
<h2 class="text-center">库存报表</h2>
<div id="hot"></div>

@section scripts{
    <script type="text/javascript">
        var dataObject =@Html.Raw(ViewBag.DataObject);
        var hotElement = document.querySelector('#hot');
        var hotElementContainer = hotElement.parentNode;
        var hotSettings = {
            data: dataObject,
            columns: [
                {
                    data: 'Id',
                    type: 'numeric',
                    width: 40,
                },
                {
                    data: 'MaterialName',
                    type: 'text',
                },
                {
                    data: 'DepotSite',
                    type: 'text',
                },
                {
                    data: 'TotalCount',
                    type: 'text',
                },
                {
                    data: 'RemainCount',
                    type: 'text',
                },
                {
                    data: 'T_UpdateDate',
                    type: 'text',
                },
            ],
            stretchH: 'all',
            autoWrapRow: true,
            maxRows: 22,
            manualRowResize: true,
            manualColumnResize: true,
            rowHeaders: true,
            colHeaders: [
                'ID',
                '材料名称',
                '仓库区位',
                '总量',
                '余量',
                '更新时间',
            ],
            manualRowMove: true,
            manualColumnMove: true,
            contextMenu: true,
            filters: true,
            dropdownMenu: true,
            readOnly:true,
        };
        var hot = new Handsontable(hotElement, hotSettings);
    </script>
}