@model List<KnockoutJS.Web.ViewModels.CategoryViewModel>
@{
    ViewData["Title"] = "Index";
    var selectedCategoryId = ViewBag.SelectedCategoryId;
}

<div class="list-group">
    <h4 class="list-group-item-heading">分类目录</h4>
    @foreach (var category in Model)
    {
        <a asp-action="Index" asp-controller="Book" asp-route-categoryId="@category.Id" class="list-group-item @if (selectedCategoryId == category.Id) { @Html.Raw("active")} ">@category.Name</a>
    }
</div>