@{
    ViewData["Title"] = "书城";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="well well-lg col-lg-3">
        @await Component.InvokeAsync("Category", new { selectedCategoryId = ViewBag.SelectedCategoryId != null ? ViewBag.SelectedCategoryId : 0 })
    </div>
    <div class="col-lg-9">
        @await Component.InvokeAsync("Book")
    </div>
</div>